@font-face {
  font-family: "avenir-next";
  src: url(".//staticAssets/Avenir\ Next.ttc") format("ttc");
  font-weight: normal;
  font-style: normal;
}
$primary-font: "avenir-next";

$white: #ffffff;
$black: #000000;
$dark-blue: #04304a;
$light-blue: #c2e3fe;
$blue: #33a3ff;
